# Use your computer's LAN IP when testing on a physical device.
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.100:3001
EXPO_PUBLIC_APP_BASE_URL=http://192.168.1.100:3000
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
